body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    -webkit-print-color-adjust: exact;
}
#app {
    padding-bottom: 3.5rem;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    overflow: hidden;
    z-index: 5;
}
.nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
}
.nav-item {
    padding: 0.2em 1em;
    font-size: 1.1em;
}
.nav-item .disabled {
    color: rgba(255, 255, 255, 0.3) !important;
}
.btn-cart {
    color: white;
    background-color: #0a53be;
    font-weight: bold;
    display: block;
    margin: auto !important;
}
.btn-cart:hover {
    background-color: #ff0000;
}
.number-input {
    height: 38px;
}
.cart {
    width: 300px;
    height: 700px;
    background-color: #0a53be;
    position: fixed;
    top: 170px;
    right: 20px;
    border: 2px solid black;
}
