body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    -webkit-print-color-adjust: exact;
}
#app {
    padding-bottom: 3.5rem;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    overflow: hidden;
    z-index: 5;
}
.nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
}
.nav-item {
    padding: 0.2em 1em;
    font-size: 1.1em;
}
.nav-item .disabled {
    color: rgba(255, 255, 255, 0.3) !important;
}
.btn-cart {
    color: white;
    background-color: #0a53be;
    font-weight: bold;
    display: block;
    margin: auto !important;
}
.btn-cart:hover {
    background-color: #ff0000;
}
.number-input {
    height: 38px;
}
.sidepanel {
    width: 350px;
    position: fixed;
    top: 162px;
    right: 20px;
    z-index: 99;
}
.cart {
    min-height: 405px;
    background-color: #00b3ff;
    box-shadow: 5px 5px 10px #4a6fff;
    border-radius: 5px;
}

.login {
    background: lightgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px #4a6fff;
    border-radius: 5px;
}
